@charset "utf-8";
@import "./base";
@import "./header";

$emColor: #e39820;


#main_visual {
    position: relative;

    img {
        width: 100%;
    }

    .mv_txt {
        position: absolute;
        color: $primaryColor;
        text-align: center;
        z-index: 99;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .mv_txt h2 {
        font-size: 4.0rem;
    }
}

//about
#about {
    padding: 7.81% 0;

    .title {
        margin-left: 5.208%;
    }

    .inner {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .intro_info {
        width: calc(100% / 3);
        border-right: 5px solid rgba(255, 255, 255, 0.3);
        padding-left: 5.208%;
        padding-right: 5.208%;
    }

    .intro_tit {
        color: $emColor;
        font-size: 2.5rem;
        padding-bottom: 100px;
    }

    table td {
        font-size: 2rem;
        padding-bottom: 20px;
        text-align: right;
    }

    table th {
        font-size: 2rem;
        padding-bottom: 20px;
        font-weight: normal;
        text-align: left;
    }

    .poster {
        width: calc(100% / 3);
        border-right: 5px solid rgba(255, 255, 255, 0.3);
        padding-right: 5.208%;
    }

    .poster img {
        width: 100%;
        height: 100%;
    }

    .intro_txt {
        padding-left: 5.208%;
        width: calc(100% / 3);
        height: 300px;
    }

    .intro_txt p {
        font-size: 2rem;
        line-height: 2;
    }
}

#favorite {
    padding: 7.81% 0 0;

    .scene {
        width: 100%;
        position: relative;
        margin-bottom: 7.81%;
        overflow-y: hidden;

    }

    .scene:hover .f_txt {
        transform: translateY(0);
    }

    .scene:hover .f_txt1 {
        transform: translateY(0);
    }

    .title {
        float: right;
    }



    .f_img img {
        width: 100%;
    }

    .f_txt {
        position: absolute;
        left: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        padding: 50px;
        transform: translateY(330px);
        transition: transform 1s;
    }

    h3 {
        display: inline;
        border-bottom: 2px solid $emColor;
        font-size: 2.0rem;
    }

    .f_txt p {
        padding-top: 50px;
    }

    .f_txt p.quote {
        padding-top: 15px;
    }

    .f_txt1 {
        position: absolute;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        padding: 50px;
        transform: translateY(330px);
        transition: transform 1s;
    }

    .f_txt1 p {
        padding-top: 50px;
    }
}

#awards {
    padding: 0 0 7.81%;

    img {
        width: 100%;
    }
}

//cast
#character {
    padding: 7.81% 0;

    .flex {
        @include flexing;
        justify-content: center;
    }

    dl {
        padding: 50px;
    }

    dt {
        padding-bottom: 100px;
        font-size: 3.0rem;
    }

    dd {
        font-size: 2.0rem;
    }

    .flex-right {
        @include flexing;
        justify-content: center;
        flex-direction: row-reverse;
    }
}

#support {
    padding: 7.81% 0;

    .title {
        float: right;
    }

    .inner {
        max-width: calc(100% - 20.83%);
    }

    ul {
        @include flexing;
        flex-wrap: wrap;
    }

    li {
        display: inline-block;
        text-align: center;
        padding-top: 50px;
        padding-right: 20px;
    }

    dt {
        padding: 50px 0;
        font-size: 2.5rem;
        text-transform: capitalize;
    }

    dd {
        font-size: 2.0rem;
    }
}

//meida
#trailer {
    padding: 7.81% 0;

    iframe {
        position: relative;
        width: 70%;
        height: 600px;
        border: 0;
    }

    .slide {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    dt {
        font-size: 3.0rem;
        color: $emColor;
        padding-bottom: 50px;
    }
}



//gallery
#gallery {
    padding: 7.81% 0;

    .row {
        @include flexing;
        margin-bottom: 20px;
    }

    .row div {
        padding-right: 20px;
    }

    .row div img {
        width: 100%;
        display: block;
    }
}




//mediaquery
@media (max-width: 1460px) {

    // #about .intro_info table th,
    // #about .intro_info table td {
    //     font-size: 1.5rem;
    // }

    #about .intro_txt p {
        font-size: 1.5rem;
    }
}

@media (max-width: 1280px) {
    #about {
        padding: 50px 0;
    }

    #main_visual .mv_txt h2 {
        font-size: 2.5rem;
    }

    #about .poster {
        width: 100%;
        margin: 0 auto;
    }

    #about .intro_info {
        width: 100%;
        border: 0;
        padding-right: 0;
    }

    #about .intro_txt {
        display: none;
    }

    .slide {
        justify-content: center;
    }

    #trailer iframe {
        width: 100%;
        margin-top: 50px;
    }
}


@media (max-width: 998px) {

    #favorite .f_txt,
    #favorite .f_txt1 {
        width: 100%;
        font-size: 1.0rem;
    }

    #favorite .f_txt p {
        padding-top: 20px;
    }

    #character .flex {
        flex-direction: column;
    }

    #character .flex-right {
        flex-direction: column;
    }

    #support ul {
        flex-direction: column;
    }


}

@media (max-width: 768px) {
    #gallery .row {
        margin-bottom: 10px;
    }

    #gallery .row div {
        padding-right: 10px;
    }
}



@media (max-width: 500px) {

    #about .inner {
        flex-direction: column;
    }

    #about .poster {
        border-right: none;
        border-bottom: 5px solid rgba(255, 255, 255, 0.3);
        padding-bottom: 50px;
        padding-top: 5.208%;
    }

    #about .intro_info {
        padding: 50px 20px;
        border-bottom: 5px solid rgba(255, 255, 255, 0.3);
    }

    #about .intro_txt {
        padding: 50px 20px;
        display: block;
        width: 100%;
        border: 0;
        height: 100%;

    }

    #about .intro_txt p {
        font-size: 2.0rem;
    }

    #about .intro_txt p br {
        display: none;
    }

    #favorite .f_txt,
    #favorite .f_txt1 {
        padding: 50px 0 0;
    }

    #main_visual h2 {
        display: none;
    }

    #character br {
        display: none;
    }

    #support ul li dl dd {
        display: none;
    }
}